//colors
$auttar-cinza: #282828;
$white: #FFFFFF;
$light-green: #48D0B0;
$plant-light: #46D7AB;
$plant-medium: #46A487;
$plant-dark: #3E8570;
$light-grey: #F2F2F2;
$fire-light: #FB6C6C;
$fire-dark: #DE5050;
$water-light: #46C5D7;
$water-medium: #4676A4;
$water-dark: #4689C7;
$electric-light: #FFCE4B;
$electric-dark: #BF8400;
$bug-light: #a1ca63;
$bug-dark: #87B347;
$ghost-light: #393332;
$ghost-dark: #443E3D;
$normal-light: #F2CDD6;
$normal-dark: #DE5050;
$psychic-dark: #9B4043;
$flying-dark: #575176;
$total: #4BC07A;
$mark: #FFDA55;
$pagination: #212121;
$pagination-ball-center: #494949;